@import "../02-brand.css";

:root {
    --theme-background-surface: var(--brand-color-neutral-50);
    --theme-background-canvas: var(--brand-color-neutral-100);
    --theme-background-sunken: var(--brand-color-neutral-200);
    --theme-background-raised: var(--brand-color-neutral-25);
    --theme-background-overlayscrim: #00000080;
    --theme-background-disabled: var(--brand-color-neutral-200);
    --theme-background-contrast: var(--brand-color-neutral-900);
    --theme-background-neutral-strong-1: var(--brand-color-neutral-700);
    --theme-background-neutral-strong-2: var(--brand-color-neutral-800);
    --theme-background-neutral-strong-3: var(--brand-color-neutral-900);
    --theme-background-neutral-subtle-1: var(--brand-color-neutral-300);
    --theme-background-neutral-subtle-2: var(--brand-color-neutral-400);
    --theme-background-neutral-subtle-3: var(--brand-color-neutral-500);
    --theme-background-inverse-subtle: var(--brand-color-neutral-25);
    --theme-background-inverse-default: var(--brand-color-neutral-50);
    --theme-background-inverse-strong: var(--brand-color-neutral-100);
    --theme-background-primary-strong-1: var(--brand-color-primary-400);
    --theme-background-primary-strong-2: var(--brand-color-primary-500);
    --theme-background-primary-strong-3: var(--brand-color-primary-600);
    --theme-background-primary-subtle-1: var(--brand-color-primary-100);
    --theme-background-primary-subtle-2: var(--brand-color-primary-200);
    --theme-background-primary-subtle-3: var(--brand-color-primary-300);
    --theme-background-accent-strong-1: var(--brand-color-accent-400);
    --theme-background-accent-strong-2: var(--brand-color-accent-500);
    --theme-background-accent-strong-3: var(--brand-color-accent-600);
    --theme-background-accent-subtle-1: var(--brand-color-accent-100);
    --theme-background-accent-subtle-2: var(--brand-color-accent-200);
    --theme-background-accent-subtle-3: var(--brand-color-accent-300);
    --theme-background-error-strong-1: var(--brand-color-error-800);
    --theme-background-error-strong-2: var(--brand-color-error-900);
    --theme-background-error-strong-3: var(--brand-color-error-950);
    --theme-background-error-subtle-1: var(--brand-color-error-100);
    --theme-background-error-subtle-2: var(--brand-color-error-200);
    --theme-background-error-subtle-3: var(--brand-color-error-300);
    --theme-background-success-strong-1: var(--brand-color-success-500);
    --theme-background-success-strong-2: var(--brand-color-success-600);
    --theme-background-success-strong-3: var(--brand-color-success-700);
    --theme-background-success-subtle-1: var(--brand-color-success-100);
    --theme-background-success-subtle-2: var(--brand-color-success-200);
    --theme-background-success-subtle-3: var(--brand-color-success-300);
    --theme-background-warning-strong-1: var(--brand-color-warning-500);
    --theme-background-warning-strong-2: var(--brand-color-warning-600);
    --theme-background-warning-strong-3: var(--brand-color-warning-700);
    --theme-background-warning-subtle-1: var(--brand-color-warning-100);
    --theme-background-warning-subtle-2: var(--brand-color-warning-200);
    --theme-background-warning-subtle-3: var(--brand-color-warning-300);
    --theme-background-info-strong-1: var(--brand-color-info-500);
    --theme-background-info-strong-2: var(--brand-color-info-600);
    --theme-background-info-strong-3: var(--brand-color-info-700);
    --theme-background-info-subtle-1: var(--brand-color-info-100);
    --theme-background-info-subtle-2: var(--brand-color-info-200);
    --theme-background-info-subtle-3: var(--brand-color-info-300);
    --theme-foreground-disabled: var(--brand-color-neutral-500);
    --theme-foreground-error-subtle: var(--brand-color-error-500);
    --theme-foreground-error-default: var(--brand-color-error-700);
    --theme-foreground-error-strong: var(--brand-color-error-900);
    --theme-foreground-warning-subtle: var(--brand-color-warning-500);
    --theme-foreground-warning-default: var(--brand-color-warning-700);
    --theme-foreground-warning-strong: var(--brand-color-warning-900);
    --theme-foreground-success-subtle: var(--brand-color-success-500);
    --theme-foreground-success-default: var(--brand-color-success-700);
    --theme-foreground-success-strong: var(--brand-color-success-900);
    --theme-foreground-info-subtle: var(--brand-color-info-500);
    --theme-foreground-info-default: var(--brand-color-info-700);
    --theme-foreground-info-strong: var(--brand-color-info-900);
    --theme-foreground-on-primary: var(--brand-color-neutral-900);
    --theme-foreground-on-accent: var(--brand-color-neutral-900);
    --theme-foreground-on-neutral: var(--brand-color-neutral-25);
    --theme-foreground-on-error: var(--brand-color-neutral-25);
    --theme-foreground-on-warning: var(--brand-color-neutral-900);
    --theme-foreground-on-success: var(--brand-color-neutral-25);
    --theme-foreground-on-info: var(--brand-color-neutral-900);
    --theme-foreground-on-inverse: var(--brand-color-neutral-900);
    --theme-foreground-primary-subtle: var(--brand-color-primary-500);
    --theme-foreground-primary-default: var(--brand-color-primary-700);
    --theme-foreground-primary-strong: var(--brand-color-primary-900);
    --theme-foreground-accent-subtle: var(--brand-color-accent-500);
    --theme-foreground-accent-default: var(--brand-color-accent-700);
    --theme-foreground-accent-strong: var(--brand-color-accent-900);
    --theme-foreground-muted: var(--brand-color-neutral-500);
    --theme-foreground-neutral-subtle: var(--brand-color-neutral-600);
    --theme-foreground-neutral-default: var(--brand-color-neutral-700);
    --theme-foreground-neutral-strong: var(--brand-color-neutral-800);
    --theme-foreground-inverse-subtle: var(--brand-color-neutral-100);
    --theme-foreground-inverse-default: var(--brand-color-neutral-50);
    --theme-foreground-inverse-strong: var(--brand-color-neutral-25);
    --theme-foreground-link-default: var(--brand-color-primary-500);
    --theme-foreground-link-hover: var(--brand-color-primary-600);
    --theme-foreground-link-pressed: var(--brand-color-primary-700);
    --theme-foreground-link-visited: var(--brand-color-accent-500);
    --theme-foreground-link-inverse: var(--brand-color-primary-300);
    --theme-border-neutral-subtle: var(--brand-color-neutral-300);
    --theme-border-neutral-default: var(--brand-color-neutral-500);
    --theme-border-neutral-strong: var(--brand-color-neutral-900);
    --theme-border-divider-subtle: var(--brand-color-neutral-200);
    --theme-border-divider-default: var(--brand-color-neutral-300);
    --theme-border-divider-strong: var(--brand-color-neutral-400);
    --theme-border-primary-subtle: var(--brand-color-primary-300);
    --theme-border-primary-default: var(--brand-color-primary-500);
    --theme-border-primary-strong: var(--brand-color-primary-700);
    --theme-border-accent-subtle: var(--brand-color-accent-300);
    --theme-border-accent-default: var(--brand-color-accent-500);
    --theme-border-accent-strong: var(--brand-color-accent-700);
    --theme-border-error-subtle: var(--brand-color-error-300);
    --theme-border-error-default: var(--brand-color-error-500);
    --theme-border-error-strong: var(--brand-color-error-700);
    --theme-border-warning-subtle: var(--brand-color-warning-300);
    --theme-border-warning-default: var(--brand-color-warning-500);
    --theme-border-warning-strong: var(--brand-color-warning-700);
    --theme-border-success-subtle: var(--brand-color-success-300);
    --theme-border-success-default: var(--brand-color-success-500);
    --theme-border-success-strong: var(--brand-color-success-700);
    --theme-border-info-subtle: var(--brand-color-info-300);
    --theme-border-info-default: var(--brand-color-info-500);
    --theme-border-info-strong: var(--brand-color-info-700);
    --theme-border-inverse-subtle: var(--brand-color-neutral-100);
    --theme-border-inverse-default: var(--brand-color-neutral-50);
    --theme-border-inverse-strong: var(--palette-color-stone-25);
}