@import "../02-brand.css";

:root {
    --theme-bg-canvas: var(--brand-color-neutral-100); 
    --theme-bg-surface: var(--brand-color-neutral-50); 
    --theme-bg-sunken: var(--brand-color-neutral-200); 
    --theme-bg-raised: var(--brand-color-neutral-25); 
    --theme-bg-overlayscrim: rgba(0,0,0,0.5); 
    --theme-bg-disabled: var(--brand-color-neutral-200); 
    --theme-bg-contrast: var(--brand-color-neutral-900); 
    --theme-bg-neutral-strong-1: var(--brand-color-neutral-700); 
    --theme-bg-neutral-strong-2: var(--brand-color-neutral-800); 
    --theme-bg-neutral-strong-3: var(--brand-color-neutral-900); 
    --theme-bg-neutral-subtle-1: var(--brand-color-neutral-300); 
    --theme-bg-neutral-subtle-2: var(--brand-color-neutral-200); 
    --theme-bg-neutral-subtle-3: var(--brand-color-neutral-100); 
    --theme-bg-inverse-1: var(--brand-color-neutral-100); 
    --theme-bg-inverse-2: var(--brand-color-neutral-50); 
    --theme-bg-inverse-3: var(--brand-color-neutral-25); 
    --theme-bg-primary-strong-1: var(--brand-color-primary-500); 
    --theme-bg-primary-strong-2: var(--brand-color-primary-600); 
    --theme-bg-primary-strong-3: var(--brand-color-primary-700); 
    --theme-bg-primary-subtle-1: var(--brand-color-primary-100); 
    --theme-bg-primary-subtle-2: var(--brand-color-primary-200); 
    --theme-bg-primary-subtle-3: var(--brand-color-primary-300); 
    --theme-bg-accent-strong-1: var(--brand-color-accent-500); 
    --theme-bg-accent-strong-2: var(--brand-color-accent-600); 
    --theme-bg-accent-strong-3: var(--brand-color-accent-700); 
    --theme-bg-accent-subtle-1: var(--brand-color-accent-100); 
    --theme-bg-accent-subtle-2: var(--brand-color-accent-200); 
    --theme-bg-accent-subtle-3: var(--brand-color-accent-300); 
    --theme-bg-error-strong-1: var(--brand-color-error-500); 
    --theme-bg-error-strong-2: var(--brand-color-error-600); 
    --theme-bg-error-strong-3: var(--brand-color-error-700); 
    --theme-bg-error-subtle-1: var(--brand-color-error-100); 
    --theme-bg-error-subtle-2: var(--brand-color-error-200); 
    --theme-bg-error-subtle-3: var(--brand-color-error-300); 
    --theme-bg-success-strong-1: var(--brand-color-success-500); 
    --theme-bg-success-strong-2: var(--brand-color-success-600); 
    --theme-bg-success-strong-3: var(--brand-color-success-700); 
    --theme-bg-success-subtle-1: var(--brand-color-success-100); 
    --theme-bg-success-subtle-2: var(--brand-color-success-200); 
    --theme-bg-success-subtle-3: var(--brand-color-success-300); 
    --theme-bg-warning-strong-1: var(--brand-color-warning-500); 
    --theme-bg-warning-strong-2: var(--brand-color-warning-600); 
    --theme-bg-warning-strong-3: var(--brand-color-warning-700); 
    --theme-bg-warning-subtle-1: var(--brand-color-warning-100); 
    --theme-bg-warning-subtle-2: var(--brand-color-warning-200); 
    --theme-bg-warning-subtle-3: var(--brand-color-warning-300); 
    --theme-bg-info-strong-1: var(--brand-color-info-500); 
    --theme-bg-info-strong-2: var(--brand-color-info-600); 
    --theme-bg-info-strong-3: var(--brand-color-info-700); 
    --theme-bg-info-subtle-1: var(--brand-color-info-100); 
    --theme-bg-info-subtle-2: var(--brand-color-info-200); 
    --theme-bg-info-subtle-3: var(--brand-color-info-300); 
    --theme-fg-disabled: var(--brand-color-neutral-500); 
    --theme-fg-error-subtle: var(--brand-color-error-500); 
    --theme-fg-error-default: var(--brand-color-error-700); 
    --theme-fg-error-strong: var(--brand-color-error-900); 
    --theme-fg-warning-subtle: var(--brand-color-warning-500); 
    --theme-fg-warning-default: var(--brand-color-warning-700); 
    --theme-fg-warning-strong: var(--brand-color-warning-900); 
    --theme-fg-success-subtle: var(--brand-color-success-500); 
    --theme-fg-success-default: var(--brand-color-success-700); 
    --theme-fg-success-strong: var(--brand-color-success-900); 
    --theme-fg-info-subtle: var(--brand-color-info-500); 
    --theme-fg-info-default: var(--brand-color-info-700); 
    --theme-fg-info-strong: var(--brand-color-info-900); 
    --theme-fg-on-primary: var(--brand-color-neutral-25); 
    --theme-fg-on-accent: var(--brand-color-neutral-25); 
    --theme-fg-on-neutral: var(--brand-color-neutral-25); 
    --theme-fg-on-error: var(--brand-color-neutral-25); 
    --theme-fg-on-warning: var(--brand-color-neutral-900); 
    --theme-fg-on-success: var(--brand-color-neutral-25); 
    --theme-fg-on-info: var(--brand-color-neutral-25); 
    --theme-fg-on-inverse: var(--brand-color-neutral-25); 
    --theme-fg-primary-subtle: var(--brand-color-primary-500); 
    --theme-fg-primary-default: var(--brand-color-primary-700); 
    --theme-fg-primary-strong: var(--brand-color-primary-900); 
    --theme-fg-accent-subtle: var(--brand-color-accent-500); 
    --theme-fg-accent-default: var(--brand-color-accent-700); 
    --theme-fg-accent-strong: var(--brand-color-accent-900); 
    --theme-fg-muted: var(--brand-color-neutral-500); 
    --theme-fg-neutral-subtle: var(--brand-color-neutral-600); 
    --theme-fg-neutral-default: var(--brand-color-neutral-700); 
    --theme-fg-neutral-strong: var(--brand-color-neutral-800); 
    --theme-fg-inverse-subtle: var(--brand-color-neutral-100); 
    --theme-fg-inverse-default: var(--brand-color-neutral-50); 
    --theme-fg-inverse-strong: var(--brand-color-neutral-25); 
    --theme-fg-link-default: var(--brand-color-primary-500); 
    --theme-fg-link-hover: var(--brand-color-primary-600); 
    --theme-fg-link-pressed: var(--brand-color-primary-700); 
    --theme-fg-link-visited: var(--brand-color-accent-500); 
    --theme-fg-link-inverse: var(--brand-color-primary-300); 
    --theme-bd-neutral-subtle: var(--brand-color-neutral-300); 
    --theme-bd-neutral-default: var(--brand-color-neutral-500); 
    --theme-bd-neutral-strong: var(--brand-color-neutral-900); 
    --theme-bd-divider-subtle: var(--brand-color-neutral-200); 
    --theme-bd-divider-default: var(--brand-color-neutral-300); 
    --theme-bd-divider-strong: var(--brand-color-neutral-400); 
    --theme-bd-inverse: var(--brand-color-neutral-25); 
    --theme-bd-primary-subtle: var(--brand-color-primary-300); 
    --theme-bd-primary-default: var(--brand-color-primary-500); 
    --theme-bd-primary-strong: var(--brand-color-primary-700); 
    --theme-bd-accent-subtle: var(--brand-color-accent-300); 
    --theme-bd-accent-default: var(--brand-color-accent-500); 
    --theme-bd-accent-strong: var(--brand-color-accent-700); 
    --theme-bd-error-subtle: var(--brand-color-error-300); 
    --theme-bd-error-default: var(--brand-color-error-500); 
    --theme-bd-error-strong: var(--brand-color-error-700); 
    --theme-bd-warning-subtle: var(--brand-color-warning-300); 
    --theme-bd-warning-default: var(--brand-color-warning-500); 
    --theme-bd-warning-strong: var(--brand-color-warning-700); 
    --theme-bd-success-subtle: var(--brand-color-success-300); 
    --theme-bd-success-default: var(--brand-color-success-500); 
    --theme-bd-success-strong: var(--brand-color-success-700); 
    --theme-bd-info-subtle: var(--brand-color-info-300); 
    --theme-bd-info-default: var(--brand-color-info-500); 
    --theme-bd-info-strong: var(--brand-color-info-700); 
}