<div>
    <button id="lightBtn">Light</button>
    <button id="darkBtn">Dark</button>
</div>

<script>
    const html = document.documentElement;
  
    const lightBtn = document.getElementById("lightBtn");
    const darkBtn = document.getElementById("darkBtn");
  
    if (lightBtn && darkBtn) {
      lightBtn.onclick = () => {
        html.classList.remove("dark");
        localStorage.setItem("theme", "light");
      };
  
      darkBtn.onclick = () => {
        html.classList.add("dark");
        localStorage.setItem("theme", "dark");
      };
    }
</script>