@import "../theme/03-light.css";

:root {
    --semantic-color-fg-error-subtle: var(--theme-fg-error-subtle);
    --semantic-color-fg-error-default: var(--theme-fg-error-default);
    --semantic-color-fg-error-strong: var(--theme-fg-error-strong);
    --semantic-color-fg-warning-subtle: var(--theme-fg-warning-subtle);
    --semantic-color-fg-warning-default: var(--theme-fg-warning-default);
    --semantic-color-fg-warning-strong: var(--theme-fg-warning-strong);
    --semantic-color-fg-success-subtle: var(--theme-fg-success-subtle);
    --semantic-color-fg-success-default: var(--theme-fg-success-default);
    --semantic-color-fg-success-strong: var(--theme-fg-success-strong);
    --semantic-color-fg-info-subtle: var(--theme-fg-info-subtle);
    --semantic-color-fg-info-default: var(--theme-fg-info-default);
    --semantic-color-fg-info-strong: var(--theme-fg-info-strong);
    --semantic-color-fg-neutral-subtle: var(--theme-fg-neutral-subtle);
    --semantic-color-fg-neutral-default: var(--theme-fg-neutral-default);
    --semantic-color-fg-neutral-strong: var(--theme-fg-neutral-strong);
    --semantic-color-fg-ui-disabled: var(--theme-fg-disabled);
    --semantic-color-fg-ui-control-neutral-placeholder: var(--theme-fg-muted);
    --semantic-color-fg-ui-control-neutral-input: var(--theme-fg-neutral-strong);
    --semantic-color-fg-primary-subtle: var(--theme-fg-primary-subtle);
    --semantic-color-fg-primary-default: var(--theme-fg-primary-default);
    --semantic-color-fg-primary-strong: var(--theme-fg-primary-strong);
    --semantic-color-fg-link-default: var(--theme-fg-link-default);
    --semantic-color-fg-link-hover: var(--theme-fg-link-hover);
    --semantic-color-fg-link-pressed: var(--theme-fg-link-pressed);
    --semantic-color-fg-link-visited: var(--theme-fg-link-visited);
    --semantic-color-fg-inverse-subtle: var(--theme-fg-inverse-subtle);
    --semantic-color-fg-inverse-default: var(--theme-fg-inverse-default);
    --semantic-color-fg-inverse-strong: var(--theme-fg-inverse-strong);
    --semantic-color-fg-accent-subtle: var(--theme-fg-accent-subtle);
    --semantic-color-fg-accent-default: var(--theme-fg-accent-default);
    --semantic-color-fg-accent-strong: var(--theme-fg-accent-strong);
    --semantic-color-fg-on-primary: var(--theme-fg-on-primary);
    --semantic-color-fg-on-accent: var(--theme-fg-on-accent);
    --semantic-color-fg-on-neutral: var(--theme-fg-on-neutral);
    --semantic-color-fg-on-error: var(--theme-fg-on-error);
    --semantic-color-fg-on-warning: var(--theme-fg-on-warning);
    --semantic-color-fg-on-success: var(--theme-fg-on-success);
    --semantic-color-fg-on-info: var(--theme-fg-on-info);
    --semantic-color-fg-on-inverse: var(--theme-fg-on-inverse);
    --semantic-color-fg-muted: var(--theme-fg-muted);
    --semantic-color-bd-divider-subtle: var(--theme-bd-divider-subtle);
    --semantic-color-bd-divider-default: var(--theme-bd-divider-default);
    --semantic-color-bd-divider-strong: var(--theme-bd-divider-strong);
    --semantic-color-bd-error-subtle: var(--theme-bd-error-subtle);
    --semantic-color-bd-error-default: var(--theme-bd-error-default);
    --semantic-color-bd-error-strong: var(--theme-bd-error-strong);
    --semantic-color-bd-success-subtle: var(--theme-bd-success-subtle);
    --semantic-color-bd-success-default: var(--theme-bd-success-default);
    --semantic-color-bd-success-strong: var(--theme-bd-success-strong);
    --semantic-color-bd-warning-subtle: var(--theme-bd-warning-subtle);
    --semantic-color-bd-warning-default: var(--theme-bd-warning-default);
    --semantic-color-bd-warning-strong: var(--theme-bd-warning-strong);
    --semantic-color-bd-info-subtle: var(--theme-bd-info-subtle);
    --semantic-color-bd-info-default: var(--theme-bd-info-default);
    --semantic-color-bd-info-strong: var(--theme-bd-info-strong);
    --semantic-color-bd-ui-card-default: var(--theme-bd-neutral-subtle);
    --semantic-color-bd-ui-card-highlight: var(--theme-bd-primary-default);
    --semantic-color-bd-ui-disabled: var(--theme-bd-neutral-subtle);
    --semantic-color-bd-ui-control-default: var(--theme-bd-neutral-default);
    --semantic-color-bd-ui-control-hover: var(--theme-bd-neutral-strong);
    --semantic-color-bd-ui-control-pressed: var(--theme-bd-neutral-strong);
    --semantic-color-bd-ui-control-selected: var(--theme-bd-primary-default);
    --semantic-color-bd-ui-action-primary-default: var(--theme-bd-primary-default);
    --semantic-color-bd-ui-action-accent-default: var(--theme-bd-accent-default);
    --semantic-color-bd-ui-action-neutral-default: var(--theme-bd-neutral-default);
    --semantic-color-bd-ui-action-error-default: var(--theme-bd-error-default);
    --semantic-color-bd-ui-action-success-default: var(--theme-bd-success-default);
    --semantic-color-bd-ui-action-info-default: var(--theme-bd-info-default);
    --semantic-color-bd-ui-focused: var(--theme-bd-primary-default);
    --semantic-color-bd-inverse-default: var(--theme-bd-inverse);
    --semantic-color-bd-primary-subtle: var(--theme-bd-primary-subtle);
    --semantic-color-bd-primary-default: var(--theme-bd-primary-default);
    --semantic-color-bd-primary-strong: var(--theme-bd-primary-strong);
    --semantic-color-bd-accent-subtle: var(--theme-bd-accent-subtle);
    --semantic-color-bd-accent-default: var(--theme-bd-accent-default);
    --semantic-color-bd-accent-strong: var(--theme-bd-accent-strong);
    --semantic-color-bd-neutral-subtle: var(--theme-bd-neutral-subtle);
    --semantic-color-bd-neutral-default: var(--theme-bd-neutral-default);
    --semantic-color-bd-neutral-strong: var(--theme-bd-neutral-strong);
    --semantic-color-bg-ui-disabled: var(--theme-bg-disabled);
    --semantic-color-bg-ui-action-neutral-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-neutral-ghost-hover: var(--theme-bg-neutral-subtle-1);
    --semantic-color-bg-ui-action-neutral-ghost-pressed: var(--theme-bg-neutral-subtle-2);
    --semantic-color-bg-ui-action-neutral-filled-default: var(--theme-bg-neutral-strong-3);
    --semantic-color-bg-ui-action-neutral-filled-hover: var(--theme-bg-neutral-strong-2);
    --semantic-color-bg-ui-action-neutral-filled-pressed: var(--theme-bg-neutral-strong-1);
    --semantic-color-bg-ui-action-primary-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-primary-ghost-hover: var(--theme-bg-primary-subtle-1);
    --semantic-color-bg-ui-action-primary-ghost-pressed: var(--theme-bg-primary-subtle-2);
    --semantic-color-bg-ui-action-primary-filled-default: var(--theme-bg-primary-strong-1);
    --semantic-color-bg-ui-action-primary-filled-hover: var(--theme-bg-primary-strong-2);
    --semantic-color-bg-ui-action-primary-filled-pressed: var(--theme-bg-primary-strong-3);
    --semantic-color-bg-ui-action-error-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-error-ghost-hover: var(--theme-bg-error-subtle-1);
    --semantic-color-bg-ui-action-error-ghost-pressed: var(--theme-bg-error-subtle-2);
    --semantic-color-bg-ui-action-error-filled-default: var(--theme-bg-error-strong-1);
    --semantic-color-bg-ui-action-error-filled-hover: var(--theme-bg-error-strong-2);
    --semantic-color-bg-ui-action-error-filled-pressed: var(--theme-bg-error-strong-3);
    --semantic-color-bg-ui-action-success-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-success-ghost-hovered: var(--theme-bg-success-subtle-1);
    --semantic-color-bg-ui-action-success-ghost-pressed: var(--theme-bg-success-subtle-2);
    --semantic-color-bg-ui-action-success-filled-default: var(--theme-bg-success-strong-1);
    --semantic-color-bg-ui-action-success-filled-hovered: var(--theme-bg-success-strong-2);
    --semantic-color-bg-ui-action-success-filled-pressed: var(--theme-bg-success-strong-3);
    --semantic-color-bg-ui-action-info-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-info-ghost-hovered: var(--theme-bg-info-subtle-1);
    --semantic-color-bg-ui-action-info-ghost-pressed: var(--theme-bg-info-subtle-2);
    --semantic-color-bg-ui-action-info-filled-default: var(--theme-bg-info-strong-1);
    --semantic-color-bg-ui-action-info-filled-hovered: var(--theme-bg-info-strong-2);
    --semantic-color-bg-ui-action-info-filled-pressed: var(--theme-bg-info-strong-3);
    --semantic-color-bg-ui-action-inverse-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-inverse-ghost-hovered: var(--theme-bg-inverse-1);
    --semantic-color-bg-ui-action-inverse-ghost-pressed: var(--theme-bg-inverse-2);
    --semantic-color-bg-ui-action-inverse-filled-default: var(--theme-bg-inverse-1);
    --semantic-color-bg-ui-action-inverse-filled-hovered: var(--theme-bg-inverse-2);
    --semantic-color-bg-ui-action-inverse-filled-pressed: var(--theme-bg-inverse-3);
    --semantic-color-bg-ui-action-accent-ghost-default: var(--brand-color-base-transparent);
    --semantic-color-bg-ui-action-accent-ghost-hover: var(--theme-bg-accent-subtle-1);
    --semantic-color-bg-ui-action-accent-ghost-pressed: var(--theme-bg-accent-subtle-2);
    --semantic-color-bg-ui-action-accent-filled-default: var(--theme-bg-accent-strong-1);
    --semantic-color-bg-ui-action-accent-filled-hovered: var(--theme-bg-accent-strong-2);
    --semantic-color-bg-ui-action-accent-filled-pressed: var(--theme-bg-accent-strong-3);
    --semantic-color-bg-ui-card-default: var(--theme-bg-raised);
    --semantic-color-bg-page: var(--theme-bg-canvas);
    --semantic-color-bg-surface: var(--theme-bg-surface);
    --semantic-color-bg-raised: var(--theme-bg-raised);
    --semantic-color-bg-sunken: var(--theme-bg-sunken);
    --semantic-color-bg-transparent: var(--brand-color-base-transparent);
    --semantic-color-bg-neutral-subtle-default: var(--theme-bg-neutral-subtle-1);
    --semantic-color-bg-neutral-subtle-hover: var(--theme-bg-neutral-subtle-2);
    --semantic-color-bg-neutral-subtle-pressed: var(--theme-bg-neutral-subtle-3);
    --semantic-color-bg-neutral-strong-default: var(--theme-bg-neutral-strong-3);
    --semantic-color-bg-neutral-strong-hover: var(--theme-bg-neutral-strong-2);
    --semantic-color-bg-neutral-strong-pressed: var(--theme-bg-neutral-strong-1);
    --semantic-color-bg-primary-subtle: var(--theme-bg-primary-subtle-1);
    --semantic-color-bg-primary-default: var(--theme-bg-primary-strong-1);
    --semantic-color-bg-primary-strong: var(--theme-bg-primary-strong-3);
    --semantic-color-bg-accent-subtle: var(--theme-bg-accent-subtle-1);
    --semantic-color-bg-accent-default: var(--theme-bg-accent-strong-1);
    --semantic-color-bg-accent-strong: var(--theme-bg-accent-strong-3);
    --semantic-color-bg-error-subtle: var(--theme-bg-error-subtle-1);
    --semantic-color-bg-error-default: var(--theme-bg-error-strong-1);
    --semantic-color-bg-error-strong: var(--theme-bg-error-strong-3);
    --semantic-color-bg-warning-subtle: var(--theme-bg-warning-subtle-1);
    --semantic-color-bg-warning-default: var(--theme-bg-warning-strong-1);
    --semantic-color-bg-warning-strong: var(--theme-bg-warning-strong-3);
    --semantic-color-bg-success-subtle: var(--theme-bg-success-subtle-1);
    --semantic-color-bg-success-default: var(--theme-bg-success-strong-1);
    --semantic-color-bg-success-strong: var(--theme-bg-success-strong-3);
    --semantic-color-bg-info-subtle: var(--theme-bg-info-subtle-1);
    --semantic-color-bg-info-default: var(--theme-bg-info-strong-1);
    --semantic-color-bg-info-strong: var(--theme-bg-info-strong-3);
}