@import "../theme/03-light.css";

:root {
    --semantic-color-foreground-error-subtle: var(--theme-foreground-error-subtle);
    --semantic-color-foreground-error-default: var(--theme-foreground-error-default);
    --semantic-color-foreground-error-strong: var(--theme-foreground-error-strong);
    --semantic-color-foreground-warning-subtle: var(--theme-foreground-warning-subtle);
    --semantic-color-foreground-warning-default: var(--theme-foreground-warning-default);
    --semantic-color-foreground-warning-strong: var(--theme-foreground-warning-strong);
    --semantic-color-foreground-success-subtle: var(--theme-foreground-success-subtle);
    --semantic-color-foreground-success-default: var(--theme-foreground-success-default);
    --semantic-color-foreground-success-strong: var(--theme-foreground-success-strong);
    --semantic-color-foreground-info-subtle: var(--theme-foreground-info-subtle);
    --semantic-color-foreground-info-default: var(--theme-foreground-info-default);
    --semantic-color-foreground-info-strong: var(--theme-foreground-info-strong);
    --semantic-color-foreground-neutral-subtle: var(--theme-foreground-neutral-subtle);
    --semantic-color-foreground-neutral-default: var(--theme-foreground-neutral-default);
    --semantic-color-foreground-neutral-strong: var(--theme-foreground-neutral-strong);
    --semantic-color-foreground-disabled: var(--theme-foreground-disabled);
    --semantic-color-foreground-placeholder: var(--theme-foreground-muted);
    --semantic-color-foreground-input: var(--theme-foreground-neutral-strong);
    --semantic-color-foreground-primary-subtle: var(--theme-foreground-primary-subtle);
    --semantic-color-foreground-primary-default: var(--theme-foreground-primary-default);
    --semantic-color-foreground-primary-strong: var(--theme-foreground-primary-strong);
    --semantic-color-foreground-link-default: var(--theme-foreground-link-default);
    --semantic-color-foreground-link-hover: var(--theme-foreground-link-hover);
    --semantic-color-foreground-link-pressed: var(--theme-foreground-link-pressed);
    --semantic-color-foreground-link-visited: var(--theme-foreground-link-visited);
    --semantic-color-foreground-inverse-subtle: var(--theme-foreground-inverse-subtle);
    --semantic-color-foreground-inverse-default: var(--theme-foreground-inverse-default);
    --semantic-color-foreground-inverse-strong: var(--theme-foreground-inverse-strong);
    --semantic-color-foreground-accent-subtle: var(--theme-foreground-accent-subtle);
    --semantic-color-foreground-accent-default: var(--theme-foreground-accent-default);
    --semantic-color-foreground-accent-strong: var(--theme-foreground-accent-strong);
    --semantic-color-foreground-on-primary: var(--theme-foreground-on-primary);
    --semantic-color-foreground-on-accent: var(--theme-foreground-on-accent);
    --semantic-color-foreground-on-neutral: var(--theme-foreground-on-neutral);
    --semantic-color-foreground-on-error: var(--theme-foreground-on-error);
    --semantic-color-foreground-on-warning: var(--theme-foreground-on-warning);
    --semantic-color-foreground-on-success: var(--theme-foreground-on-success);
    --semantic-color-foreground-on-info: var(--theme-foreground-on-info);
    --semantic-color-foreground-on-inverse: var(--theme-foreground-on-inverse);
    --semantic-color-foreground-muted: var(--theme-foreground-muted);
    --semantic-color-border-divider-subtle: var(--theme-border-divider-subtle);
    --semantic-color-border-divider-default: var(--theme-border-divider-default);
    --semantic-color-border-divider-strong: var(--theme-border-divider-strong);
    --semantic-color-border-error-subtle: var(--theme-border-error-subtle);
    --semantic-color-border-error-default: var(--theme-border-error-default);
    --semantic-color-border-error-strong: var(--theme-border-error-strong);
    --semantic-color-border-success-subtle: var(--theme-border-success-subtle);
    --semantic-color-border-success-default: var(--theme-border-success-default);
    --semantic-color-border-success-strong: var(--theme-border-success-strong);
    --semantic-color-border-warning-subtle: var(--theme-border-warning-subtle);
    --semantic-color-border-warning-default: var(--theme-border-warning-default);
    --semantic-color-border-warning-strong: var(--theme-border-warning-strong);
    --semantic-color-border-disabled: var(--theme-border-neutral-subtle);
    --semantic-color-border-inverse-default: var(--theme-border-inverse-default);
    --semantic-color-border-focus: var(--theme-border-primary-default);
    --semantic-color-border-primary-subtle: var(--theme-border-primary-subtle);
    --semantic-color-border-primary-default: var(--theme-border-primary-default);
    --semantic-color-border-primary-strong: var(--theme-border-primary-strong);
    --semantic-color-border-accent-subtle: var(--theme-border-accent-subtle);
    --semantic-color-border-accent-default: var(--theme-border-accent-default);
    --semantic-color-border-accent-strong: var(--theme-border-accent-strong);
    --semantic-color-border-neutral-subtle: var(--theme-border-neutral-subtle);
    --semantic-color-border-neutral-default: var(--theme-border-neutral-default);
    --semantic-color-border-neutral-strong: var(--theme-border-neutral-strong);
    --semantic-color-border-info-subtle: var(--theme-border-info-subtle);
    --semantic-color-border-info-default: var(--theme-border-info-default);
    --semantic-color-border-info-strong: var(--theme-border-info-strong);
    --semantic-color-background-disabled: var(--theme-background-disabled);
    --semantic-color-background-neutral-strong-1: var(--theme-background-neutral-strong-3);
    --semantic-color-background-neutral-strong-2: var(--theme-background-neutral-strong-2);
    --semantic-color-background-neutral-strong-3: var(--theme-background-neutral-strong-1);
    --semantic-color-background-neutral-subtle-1: var(--theme-background-neutral-subtle-1);
    --semantic-color-background-neutral-subtle-2: var(--theme-background-neutral-subtle-2);
    --semantic-color-background-neutral-subtle-3: var(--theme-background-neutral-subtle-3);
    --semantic-color-background-error-strong-1: var(--theme-background-error-strong-1);
    --semantic-color-background-error-strong-2: var(--theme-background-error-strong-2);
    --semantic-color-background-error-strong-3: var(--theme-background-error-strong-3);
    --semantic-color-background-error-subtle-1: var(--theme-background-error-subtle-1);
    --semantic-color-background-error-subtle-2: var(--theme-background-error-subtle-2);
    --semantic-color-background-error-subtle-3: var(--theme-background-error-subtle-3);
    --semantic-color-background-success-strong-1: var(--theme-background-success-strong-1);
    --semantic-color-background-success-strong-2: var(--theme-background-success-strong-2);
    --semantic-color-background-success-strong-3: var(--theme-background-success-strong-3);
    --semantic-color-background-success-subtle-1: var(--theme-background-success-subtle-1);
    --semantic-color-background-success-subtle-2: var(--theme-background-success-subtle-2);
    --semantic-color-background-success-subtle-3: var(--theme-background-success-subtle-3);
    --semantic-color-background-info-strong-1: var(--theme-background-info-strong-1);
    --semantic-color-background-info-strong-2: var(--theme-background-info-strong-2);
    --semantic-color-background-info-strong-3: var(--theme-background-info-strong-3);
    --semantic-color-background-info-subtle-1: var(--theme-background-info-subtle-1);
    --semantic-color-background-info-subtle-2: var(--theme-background-info-subtle-2);
    --semantic-color-background-info-subtle-3: var(--theme-background-info-subtle-3);
    --semantic-color-background-page: var(--theme-background-canvas);
    --semantic-color-background-surface: var(--theme-background-surface);
    --semantic-color-background-raised: var(--theme-background-raised);
    --semantic-color-background-sunken: var(--theme-background-sunken);
    --semantic-color-background-transparent: var(--brand-color-base-transparent);
    --semantic-color-background-accent-strong-1: var(--theme-background-accent-strong-1);
    --semantic-color-background-accent-strong-2: var(--theme-background-accent-strong-2);
    --semantic-color-background-accent-strong-3: var(--theme-background-accent-strong-3);
    --semantic-color-background-accent-subtle-1: var(--theme-background-accent-subtle-1);
    --semantic-color-background-accent-subtle-2: var(--theme-background-accent-subtle-2);
    --semantic-color-background-accent-subtle-3: var(--theme-background-accent-subtle-3);
    --semantic-color-background-primary-strong-1: var(--theme-background-primary-strong-1);
    --semantic-color-background-primary-strong-2: var(--theme-background-primary-strong-2);
    --semantic-color-background-primary-strong-3: var(--theme-background-primary-strong-3);
    --semantic-color-background-primary-subtle-1: var(--theme-background-primary-subtle-1);
    --semantic-color-background-primary-subtle-2: var(--theme-background-primary-subtle-2);
    --semantic-color-background-primary-subtle-3: var(--theme-background-primary-subtle-3);
    --semantic-color-background-inverse-1: var(--theme-background-inverse-subtle);
    --semantic-color-background-inverse-2: var(--theme-background-inverse-default);
    --semantic-color-background-inverse-3: var(--theme-background-inverse-strong);
    --semantic-color-background-warning-strong-1: var(--theme-background-warning-strong-1);
    --semantic-color-background-warning-strong-2: var(--theme-background-warning-strong-2);
    --semantic-color-background-warning-strong-3: var(--theme-background-warning-strong-3);
    --semantic-color-background-warning-subtle-1: var(--theme-background-warning-subtle-1);
    --semantic-color-background-warning-subtle-2: var(--theme-background-warning-subtle-2);
    --semantic-color-background-warning-subtle-3: var(--theme-background-warning-subtle-3);
    --semantic-color-background-contrast: var(--theme-background-contrast);
    --semantic-color-background-overlayscrim: var(--theme-background-overlayScrim);
    --semantic-shadow-primary-pressed: var(--theme-background-primary-subtle-1);
    --semantic-shadow-error-pressed: var(--theme-background-error-subtle-1);
    --semantic-shadow-neutral-pressed: var(--theme-background-neutral-subtle-1);
    --semantic-shadow-inverse-pressed: var(--theme-background-inverse-subtle);
    --semantic-shadow-accent-pressed: var(--theme-background-accent-subtle-1);
}