@import "../01-core.css";
@import "../02-brand.css";

:root {
    --semantic-size-grid-container-max-default: var(--brand-grid-container-max-default); 
    --semantic-size-grid-container-max-narrow: var(--brand-grid-container-max-narrow); 
    --semantic-size-grid-container-max-wide: var(--brand-grid-container-max-wide); 
    --semantic-size-grid-gutter-desktop: var(--core-grid-gutter-desktop); 
    --semantic-size-grid-gutter-tablet: var(--core-grid-gutter-tablet); 
    --semantic-size-grid-gutter-mobile: var(--core-grid-gutter-mobile); 
    --semantic-size-grid-margin-desktop: var(--core-grid-margin-desktop); 
    --semantic-size-grid-margin-tablet: var(--core-grid-margin-tablet); 
    --semantic-size-grid-margin-mobile: var(--core-grid-margin-mobile); 
    --semantic-size-grid-columns-desktop: var(--core-grid-columns-desktop); 
    --semantic-size-grid-columns-tablet: var(--core-grid-columns-tablet); 
    --semantic-size-grid-columns-mobile: var(--core-grid-columns-mobile); 
    --semantic-size-fine-2px: var(--core-space-fine-2); 
    --semantic-size-fine-4px: var(--core-space-fine-4); 
    --semantic-size-fine-6px: var(--core-space-fine-6); 
    --semantic-size-fine-8px: var(--core-space-fine-8); 
    --semantic-size-fine-10px: var(--core-space-fine-10); 
    --semantic-size-fine-12px: var(--core-space-fine-12); 
    --semantic-size-radius-ui-card: var(--brand-radius-ui-card); 
    --semantic-size-radius-ui-control: var(--brand-radius-ui-control); 
    --semantic-size-radius-ui-modal: var(--brand-radius-ui-modal); 
    --semantic-size-radius-none: var(--brand-radius-none); 
    --semantic-size-radius-xs: var(--brand-radius-xs); 
    --semantic-size-radius-sm: var(--brand-radius-sm); 
    --semantic-size-radius-md: var(--brand-radius-md); 
    --semantic-size-radius-lg: var(--brand-radius-lg); 
    --semantic-size-radius-xl: var(--brand-radius-xl); 
    --semantic-size-radius-2xl: var(--brand-radius-2xl); 
    --semantic-size-radius-3xl: var(--brand-radius-3xl); 
    --semantic-size-radius-pill: var(--brand-radius-pill); 
    --semantic-size-borderwidth-none: var(--brand-borderWidth-none); 
    --semantic-size-borderwidth-hairline: var(--brand-borderWidth-hairline); 
    --semantic-size-borderwidth-default: var(--brand-borderWidth-default); 
    --semantic-size-borderwidth-strong: var(--brand-borderWidth-strong); 
    --semantic-size-ui-sm: var(--core-size-9); 
    --semantic-size-ui-md: var(--core-size-11); 
    --semantic-size-ui-lg: var(--core-size-13); 
    --semantic-size-icon-xs: var(--brand-size-icon-xs); 
    --semantic-size-icon-sm: var(--brand-size-icon-sm); 
    --semantic-size-icon-md: var(--brand-size-icon-md); 
    --semantic-size-icon-lg: var(--brand-size-icon-lg); 
    --semantic-size-icon-xl: var(--brand-size-icon-xl); 
    --semantic-size-icon-2xl: var(--brand-size-icon-2xl); 
    --semantic-size-icon-3xl: var(--brand-size-icon-3xl); 
    --semantic-size-icon-4xl: var(--brand-size-icon-4xl); 
    --semantic-size-icon-5xl: var(--brand-size-icon-5xl); 
    --semantic-size-icon-6xl: var(--brand-size-icon-6xl); 
    --semantic-size-gap-none: var(--core-space-0); 
    --semantic-size-gap-sm: var(--brand-space-sm); 
    --semantic-size-gap-md: var(--brand-space-md); 
    --semantic-size-gap-lg: var(--brand-space-lg); 
    --semantic-size-gap-xl: var(--brand-space-xl); 
    --semantic-size-gap-2xl: var(--brand-space-2xl); 
    --semantic-size-gap-3xl: var(--brand-space-3xl); 
    --semantic-size-gap-4xl: var(--brand-space-4xl); 
    --semantic-size-gap-5xl: var(--brand-space-5xl); 
    --semantic-size-gap-6xl: var(--brand-space-6xl); 
    --semantic-size-gap-7xl: var(--brand-space-7xl); 
    --semantic-size-gap-ui-sm: var(--core-space-fine-2); 
    --semantic-size-gap-ui-md: var(--core-space-fine-4); 
    --semantic-size-gap-ui-lg: var(--core-space-fine-6); 
    --semantic-size-gap-ui-xl: var(--core-space-fine-8); 
    --semantic-size-gap-ui-2xl: var(--core-space-fine-10); 
    --semantic-size-gap-ui-3xl: var(--core-space-fine-12); 
    --semantic-size-gap-ui-4xl: var(--core-space-fine-14); 
    --semantic-size-gap-ui-5xl: var(--core-space-fine-16); 
    --semantic-size-padding-ui-sm: var(--core-space-4); 
    --semantic-size-padding-ui-md: var(--core-space-5); 
    --semantic-size-padding-ui-lg: var(--core-space-6); 
}