.buttonWrapper {
    display: inline-flex;
    font: var(--semantic-type-ui-lg);
    height: var(--semantic-size-ui-lg);
    padding: 0 var(--semantic-size-gap-ui-5xl);
    justify-content: center;
    align-items: center;
    gap: var(--semantic-size-gap-ui-xl);
    border-radius: var(--semantic-size-radius-pill);
    border: 0;
    background: var(--semantic-color-background-primary-strong-1, #38BDF8);
}

.buttonWrapper::active {
    border-radius: var(--semantic-size-radius-pill, 3200px);
    border: var(--semantic-size-borderWidth-focus, 4px) solid rgba(255, 255, 255, 0.01);
    background: var(--semantic-color-background-primary-strong-1, #38BDF8);
    box-shadow: 0 0 0 4px var(--semantic-color-border-focus, #0EA5E9);
}