:root {
  --core-font-weight-200: 200;
  --core-font-weight-300: 300;
  --core-font-weight-400: 400;
  --core-font-weight-500: 500;
  --core-font-weight-600: 600;
  --core-font-weight-700: 700;
  --core-font-weight-800: 800;
  --core-font-weight-900: 900;
  --core-font-size-xs: 0.75rem;
  --core-font-size-sm: 0.875rem;
  --core-font-size-md: 1rem;
  --core-font-size-lg: 1.125rem;
  --core-font-size-xl: 1.25rem;
  --core-font-size-2xl: 1.5rem;
  --core-font-size-3xl: 1.75rem;
  --core-font-size-4xl: 2rem;
  --core-font-size-5xl: 2.25rem;
  --core-font-size-6xl: 2.5rem;
  --core-font-size-7xl: 2.75rem;
  --core-font-size-8xl: 3rem;
  --core-font-size-9xl: 3.25rem;
  --core-font-size-10xl: 3.5rem;
  --core-font-decoration-none: none;
  --core-font-decoration-underline: underline;
  --core-font-decoration-line-through: line-through;
  --core-font-line-xs: 0.75rem;
  --core-font-line-sm: 0.875rem;
  --core-font-line-md: 1rem;
  --core-font-line-lg: 1.125rem;
  --core-font-line-xl: 1.25rem;
  --core-font-line-2xl: 1.5rem;
  --core-font-line-3xl: 1.75rem;
  --core-font-line-4xl: 2rem;
  --core-font-line-5xl: 2.25rem;
  --core-font-line-6xl: 2.5rem;
  --core-font-line-7xl: 2.75rem;
  --core-font-line-8xl: 3rem;
  --core-font-line-9xl: 3.25rem;
  --core-font-line-10xl: 3.5rem;
  --core-font-line-11xl: 3.75rem;
  --core-font-line-12xl: 4rem;
  --core-font-tracking-0: 0rem;
  --core-font-tracking-positive-1: 0.01rem;
  --core-font-tracking-positive-2: 0.02rem;
  --core-font-tracking-positive-3: 0.03rem;
  --core-font-tracking-positive-4: 0.04rem;
  --core-font-tracking-positive-5: 0.05rem;
  --core-font-tracking-positive-6: 0.06rem;
  --core-font-tracking-positive-7: 0.07rem;
  --core-font-tracking-positive-8: 0.08rem;
  --core-font-tracking-positive-9: 0.09rem;
  --core-font-tracking-positive-10: 0.10rem;
  --core-font-tracking-negative-1: -0.01rem;
  --core-font-tracking-negative-2: -0.02rem;
  --core-font-tracking-negative-3: -0.03rem;
  --core-font-tracking-negative-4: -0.04rem;
  --core-font-tracking-negative-5: -0.05rem;
  --core-font-tracking-negative-6: -0.06rem;
  --core-font-tracking-negative-7: -0.07rem;
  --core-font-tracking-negative-8: -0.08rem;
  --core-font-tracking-negative-9: -0.09rem;
  --core-font-tracking-negative-10: -0.10rem;
  --core-radius-0: 0rem;
  --core-radius-1: 0.125rem;
  --core-radius-2: 0.25rem;
  --core-radius-3: 0.5rem;
  --core-radius-4: 0.75rem;
  --core-radius-5: 1rem;
  --core-radius-6: 1.25rem;
  --core-radius-7: 1.5rem;
  --core-radius-8: 1.75rem;
  --core-radius-9: 2rem;
  --core-radius-full: 200rem;
  --core-space-0: 0rem;
  --core-space-1: 0.125rem;
  --core-space-2: 0.25rem;
  --core-space-3: 0.375rem;
  --core-space-4: 0.50rem;
  --core-space-5: 0.75rem;
  --core-space-6: 1rem;
  --core-space-7: 1.25rem;
  --core-space-8: 1.5rem;
  --core-space-9: 1.75rem;
  --core-space-10: 2rem;
  --core-space-11: 2.25rem;
  --core-space-12: 2.5rem;
  --core-space-13: 2.75rem;
  --core-space-14: 3rem;
  --core-space-15: 3.25rem;
  --core-space-16: 3.5rem;
  --core-space-17: 3.75rem;
  --core-space-18: 4rem;
  --core-space-19: 4.25rem;
  --core-space-20: 4.5rem;
  --core-space-21: 4.75rem;
  --core-space-22: 5rem;
  --core-borderwidth-0: 0;
  --core-borderwidth-1: 1;
  --core-borderwidth-2: 2;
  --core-borderwidth-3: 3;
  --core-borderwidth-4: 4;
  --core-opacity-0: 0;
  --core-opacity-1: 0.1;
  --core-opacity-2: 0.2;
  --core-opacity-3: 0.3;
  --core-opacity-4: 0.4;
  --core-opacity-5: 0.5;
  --core-opacity-6: 0.6;
  --core-opacity-7: 0.7;
  --core-opacity-8: 0.8;
  --core-opacity-9: 0.9;
  --core-opacity-10: 1;
  --core-color-base-black: #000;
  --core-color-base-white: #fff;
  --core-color-base-transparent: rgba(255,255,255,0);
  --core-shadow-none: 0 0 0 0 rgba(0,0,0,0);
  --core-shadow-xs: 0 1px 2px 0 rgba(0,0,0,0.06);
  --core-shadow-sm: 0 2px 6px -1px rgba(0,0,0,0.08);
  --core-shadow-md: 0 2px 6px -1px rgba(0,0,0,0.08),
  0 8px 16px -4px rgba(0,0,0,0.14);
  --core-shadow-lg: 0 4px 10px -2px rgba(0,0,0,0.1),
  0 16px 32px -8px rgba(0,0,0,0.14);
  --core-shadow-xl: 0 8px 20px -4px rgba(0,0,0,0.12),
  0 24px 48px -12px rgba(0,0,0,0.16);
  --core-shadow-2xl: 0 12px 28px -6px rgba(0,0,0,0.14),
  0 40px 80px -20px rgba(0,0,0,0.16);
  --core-shadow-inner: inset 0 1px 0 0 rgba(0,0,0,0.1);
  --core-shadow-ring-1: 0 0 0 1px rgba(0,0,0,0.1);
}