:root {
    --palette-color-green-25: #f6fef9;
    --palette-color-green-50: #ecfdf3;
    --palette-color-green-100: #dcfae6;
    --palette-color-green-200: #abefc6;
    --palette-color-green-300: #75e0a7;
    --palette-color-green-400: #47cd89;
    --palette-color-green-500: #17b26a;
    --palette-color-green-600: #079455;
    --palette-color-green-700: #067647;
    --palette-color-green-800: #085d3a;
    --palette-color-green-900: #074d31;
    --palette-color-green-950: #053321;
    --palette-color-stone-25: #fffffe;
    --palette-color-stone-50: #fafaf9;
    --palette-color-stone-100: #f5f5f4;
    --palette-color-stone-200: #e7e5e4;
    --palette-color-stone-300: #d6d3d1;
    --palette-color-stone-400: #a8a29e;
    --palette-color-stone-500: #78716c;
    --palette-color-stone-600: #57534e;
    --palette-color-stone-700: #44403c;
    --palette-color-stone-800: #292524;
    --palette-color-stone-900: #1c1917;
    --palette-color-stone-950: #0c0a09;
    --palette-color-tinted-25: #fcfcfd;
    --palette-color-tinted-50: #f9fafb;
    --palette-color-tinted-100: #f2f4f7;
    --palette-color-tinted-200: #eaecf0;
    --palette-color-tinted-300: #d0d5dd;
    --palette-color-tinted-400: #98a2b3;
    --palette-color-tinted-500: #667085;
    --palette-color-tinted-600: #475467;
    --palette-color-tinted-700: #344054;
    --palette-color-tinted-800: #182230;
    --palette-color-tinted-900: #101828;
    --palette-color-tinted-950: #0c111d;
    --palette-color-red-25: #fffbfa;
    --palette-color-red-50: #fef3f2;
    --palette-color-red-100: #fee4e2;
    --palette-color-red-200: #fecdca;
    --palette-color-red-300: #fca19a;
    --palette-color-red-400: #f97066;
    --palette-color-red-500: #f04438;
    --palette-color-red-600: #d92d20;
    --palette-color-red-700: #b42318;
    --palette-color-red-800: #912018;
    --palette-color-red-900: #7a271a;
    --palette-color-red-950: #55160c;
    --palette-color-yellow-25: #fffcf5;
    --palette-color-yellow-50: #fefce8;
    --palette-color-yellow-100: #fef9c3;
    --palette-color-yellow-200: #fef08a;
    --palette-color-yellow-300: #fde047;
    --palette-color-yellow-400: #facc15;
    --palette-color-yellow-500: #eab308;
    --palette-color-yellow-600: #ca8a04;
    --palette-color-yellow-700: #a16207;
    --palette-color-yellow-800: #854d0e;
    --palette-color-yellow-900: #713f12;
    --palette-color-yellow-950: #422006;
    --palette-color-lime-25: #fafef5;
    --palette-color-lime-50: #f3fee7;
    --palette-color-lime-100: #e3fbcc;
    --palette-color-lime-200: #d0f8ab;
    --palette-color-lime-300: #a6ef67;
    --palette-color-lime-400: #85e13a;
    --palette-color-lime-500: #66c61c;
    --palette-color-lime-600: #4ca30d;
    --palette-color-lime-700: #3b7c0f;
    --palette-color-lime-800: #326212;
    --palette-color-lime-900: #2b5314;
    --palette-color-lime-950: #15290a;
    --palette-color-teal-25: #f6fefc;
    --palette-color-teal-50: #f0fdf9;
    --palette-color-teal-100: #ccfbef;
    --palette-color-teal-200: #99f6e0;
    --palette-color-teal-300: #5fe9d0;
    --palette-color-teal-400: #2ed3b7;
    --palette-color-teal-500: #15b79e;
    --palette-color-teal-600: #0e9384;
    --palette-color-teal-700: #107569;
    --palette-color-teal-800: #125d56;
    --palette-color-teal-900: #134e48;
    --palette-color-teal-950: #0a2926;
    --palette-color-blue-25: #f5f8ff;
    --palette-color-blue-50: #eff4ff;
    --palette-color-blue-100: #d1e0ff;
    --palette-color-blue-200: #b2ccff;
    --palette-color-blue-300: #84adff;
    --palette-color-blue-400: #528bff;
    --palette-color-blue-500: #2970ff;
    --palette-color-blue-600: #155eef;
    --palette-color-blue-700: #004eeb;
    --palette-color-blue-800: #0040c1;
    --palette-color-blue-900: #00359e;
    --palette-color-blue-950: #002266;
    --palette-color-fuchsia-25: #fefaff;
    --palette-color-fuchsia-50: #fdf4ff;
    --palette-color-fuchsia-100: #fbe8ff;
    --palette-color-fuchsia-200: #f6d0fe;
    --palette-color-fuchsia-300: #eeaafd;
    --palette-color-fuchsia-400: #e478fa;
    --palette-color-fuchsia-500: #d444f1;
    --palette-color-fuchsia-600: #ba24d5;
    --palette-color-fuchsia-700: #9f1ab1;
    --palette-color-fuchsia-800: #821890;
    --palette-color-fuchsia-900: #6f1877;
    --palette-color-fuchsia-950: #47104c;
    --palette-color-rose-25: #fff3f4;
    --palette-color-rose-50: #fff1f2;
    --palette-color-rose-100: #ffe4e6;
    --palette-color-rose-200: #fecdd3;
    --palette-color-rose-300: #fda4af;
    --palette-color-rose-400: #fb7185;
    --palette-color-rose-500: #f43f5e;
    --palette-color-rose-600: #e11d48;
    --palette-color-rose-700: #be123c;
    --palette-color-rose-800: #9f1239;
    --palette-color-rose-900: #881337;
    --palette-color-rose-950: #4c0519;
    --palette-color-violet-25: #f9f8ff;
    --palette-color-violet-50: #f5f3ff;
    --palette-color-violet-100: #ede9fe;
    --palette-color-violet-200: #ddd6fe;
    --palette-color-violet-300: #c4b5fd;
    --palette-color-violet-400: #a78bfa;
    --palette-color-violet-500: #8b5cf6;
    --palette-color-violet-600: #7c3aed;
    --palette-color-violet-700: #6d28d9;
    --palette-color-violet-800: #5b21b6;
    --palette-color-violet-900: #4c1d95;
    --palette-color-violet-950: #2e1065;
    --palette-color-purple-25: #f9f8ff;
    --palette-color-purple-50: #faf5ff;
    --palette-color-purple-100: #f3e8ff;
    --palette-color-purple-200: #e9d5ff;
    --palette-color-purple-300: #d8b4fe;
    --palette-color-purple-400: #c084fc;
    --palette-color-purple-500: #a855f7;
    --palette-color-purple-600: #9333ea;
    --palette-color-purple-700: #7e22ce;
    --palette-color-purple-800: #6b21a8;
    --palette-color-purple-900: #581c87;
    --palette-color-purple-950: #3b0764;
    --palette-color-pink-25: #fff4fa;
    --palette-color-pink-50: #fdf2f8;
    --palette-color-pink-100: #fce7f3;
    --palette-color-pink-200: #fbcfe8;
    --palette-color-pink-300: #f9a8d4;
    --palette-color-pink-400: #f472b6;
    --palette-color-pink-500: #ec4899;
    --palette-color-pink-600: #db2777;
    --palette-color-pink-700: #be185d;
    --palette-color-pink-800: #9d174d;
    --palette-color-pink-900: #831843;
    --palette-color-pink-950: #500724;
    --palette-color-sky-25: #f4fbff;
    --palette-color-sky-50: #f0f9ff;
    --palette-color-sky-100: #e0f2fe;
    --palette-color-sky-200: #bae6fd;
    --palette-color-sky-300: #7dd3fc;
    --palette-color-sky-400: #38bdf8;
    --palette-color-sky-500: #0ea5e9;
    --palette-color-sky-600: #0284c7;
    --palette-color-sky-700: #0369a1;
    --palette-color-sky-800: #075985;
    --palette-color-sky-900: #0c4a6e;
    --palette-color-sky-950: #082f49;
    --palette-color-cyan-25: #f4fbff;
    --palette-color-cyan-50: #ecfeff;
    --palette-color-cyan-100: #cffafe;
    --palette-color-cyan-200: #a5f3fc;
    --palette-color-cyan-300: #67e8f9;
    --palette-color-cyan-400: #22d3ee;
    --palette-color-cyan-500: #06b6d4;
    --palette-color-cyan-600: #0891b2;
    --palette-color-cyan-700: #0e7490;
    --palette-color-cyan-800: #155e75;
    --palette-color-cyan-900: #164e63;
    --palette-color-cyan-950: #083344;
    --palette-color-indigo-25: #f4f7ff;
    --palette-color-indigo-50: #eef2ff;
    --palette-color-indigo-100: #e0e7ff;
    --palette-color-indigo-200: #c7d2fe;
    --palette-color-indigo-300: #a5b4fc;
    --palette-color-indigo-400: #818cf8;
    --palette-color-indigo-500: #6366f1;
    --palette-color-indigo-600: #4f46e5;
    --palette-color-indigo-700: #4338ca;
    --palette-color-indigo-800: #3730a3;
    --palette-color-indigo-900: #312e81;
    --palette-color-indigo-950: #1e1b4b;
    --palette-color-emerald-25: #f4fffa;
    --palette-color-emerald-50: #ecfdf5;
    --palette-color-emerald-100: #d1fae5;
    --palette-color-emerald-200: #a7f3d0;
    --palette-color-emerald-300: #6ee7b7;
    --palette-color-emerald-400: #34d399;
    --palette-color-emerald-500: #10b981;
    --palette-color-emerald-600: #059669;
    --palette-color-emerald-700: #047857;
    --palette-color-emerald-800: #065f46;
    --palette-color-emerald-900: #064e3b;
    --palette-color-emerald-950: #022c22;
    --palette-color-amber-25: #fffcf5;
    --palette-color-amber-50: #fffbeb;
    --palette-color-amber-100: #fef3c7;
    --palette-color-amber-200: #fde68a;
    --palette-color-amber-300: #fcd34d;
    --palette-color-amber-400: #fbbf24;
    --palette-color-amber-500: #f59e0b;
    --palette-color-amber-600: #d97706;
    --palette-color-amber-700: #b45309;
    --palette-color-amber-800: #92400e;
    --palette-color-amber-900: #78350f;
    --palette-color-amber-950: #451a03;
    --palette-color-orange-25: #fffaf4;
    --palette-color-orange-50: #fff7ed;
    --palette-color-orange-100: #ffedd5;
    --palette-color-orange-200: #fed7aa;
    --palette-color-orange-300: #fdba74;
    --palette-color-orange-400: #fb923c;
    --palette-color-orange-500: #f97316;
    --palette-color-orange-600: #ea580c;
    --palette-color-orange-700: #c2410c;
    --palette-color-orange-800: #9a3412;
    --palette-color-orange-900: #7c2d12;
    --palette-color-orange-950: #431407;
    --palette-color-grey-25: #fffefe;
    --palette-color-grey-50: #fafafa;
    --palette-color-grey-100: #f5f5f5;
    --palette-color-grey-200: #e5e5e5;
    --palette-color-grey-300: #d4d4d4;
    --palette-color-grey-400: #a3a3a3;
    --palette-color-grey-500: #737373;
    --palette-color-grey-600: #525252;
    --palette-color-grey-700: #404040;
    --palette-color-grey-800: #262626;
    --palette-color-grey-900: #171717;
    --palette-color-grey-950: #0a0a0a;
    --palette-color-zinc-25: #fdfdff;
    --palette-color-zinc-50: #f4f4f5;
    --palette-color-zinc-100: #e4e4e7;
    --palette-color-zinc-200: #d4d4d8;
    --palette-color-zinc-300: #d4d4d4;
    --palette-color-zinc-400: #a1a1aa;
    --palette-color-zinc-500: #71717a;
    --palette-color-zinc-600: #52525b;
    --palette-color-zinc-700: #3f3f46;
    --palette-color-zinc-800: #27272a;
    --palette-color-zinc-900: #18181b;
    --palette-color-zinc-950: #09090b;
    --palette-color-slate-25: #fdfeff;
    --palette-color-slate-50: #f8fafc;
    --palette-color-slate-100: #f1f5f9;
    --palette-color-slate-200: #e2e8f0;
    --palette-color-slate-300: #cbd5e1;
    --palette-color-slate-400: #94a3b8;
    --palette-color-slate-500: #64748b;
    --palette-color-slate-600: #475569;
    --palette-color-slate-700: #334155;
    --palette-color-slate-800: #1e293b;
    --palette-color-slate-900: #0f172a;
    --palette-color-slate-950: #020617;
}