@import "01-core.css";
@import "01-palette.css";

:root {
    --brand-color-base-white: var(--core-color-base-white);
    --brand-color-base-black: var(--core-color-base-black);
    --brand-color-base-transparent: var(--core-color-base-transparent);
    --brand-color-neutral-25: var(--palette-color-stone-25);
    --brand-color-neutral-50: var(--palette-color-stone-50);
    --brand-color-neutral-100: var(--palette-color-stone-100);
    --brand-color-neutral-200: var(--palette-color-stone-200);
    --brand-color-neutral-300: var(--palette-color-stone-300);
    --brand-color-neutral-400: var(--palette-color-stone-400);
    --brand-color-neutral-500: var(--palette-color-stone-500);
    --brand-color-neutral-600: var(--palette-color-stone-600);
    --brand-color-neutral-700: var(--palette-color-stone-700);
    --brand-color-neutral-800: var(--palette-color-stone-800);
    --brand-color-neutral-900: var(--palette-color-stone-900);
    --brand-color-neutral-950: var(--palette-color-stone-950);
    --brand-color-primary-25: var(--palette-color-sky-25);
    --brand-color-primary-50: var(--palette-color-sky-50);
    --brand-color-primary-100: var(--palette-color-sky-100);
    --brand-color-primary-200: var(--palette-color-sky-200);
    --brand-color-primary-300: var(--palette-color-sky-300);
    --brand-color-primary-400: var(--palette-color-sky-400);
    --brand-color-primary-500: var(--palette-color-sky-500);
    --brand-color-primary-600: var(--palette-color-sky-600);
    --brand-color-primary-700: var(--palette-color-sky-700);
    --brand-color-primary-800: var(--palette-color-sky-800);
    --brand-color-primary-900: var(--palette-color-sky-900);
    --brand-color-primary-950: var(--palette-color-sky-950);
    --brand-color-error-25: var(--palette-color-red-25);
    --brand-color-error-50: var(--palette-color-red-50);
    --brand-color-error-100: var(--palette-color-red-100);
    --brand-color-error-200: var(--palette-color-red-200);
    --brand-color-error-300: var(--palette-color-red-300);
    --brand-color-error-400: var(--palette-color-red-400);
    --brand-color-error-500: var(--palette-color-red-500);
    --brand-color-error-600: var(--palette-color-red-600);
    --brand-color-error-700: var(--palette-color-red-700);
    --brand-color-error-800: var(--palette-color-red-800);
    --brand-color-error-900: var(--palette-color-red-900);
    --brand-color-error-950: var(--palette-color-red-950);
    --brand-color-warning-25: var(--palette-color-yellow-25);
    --brand-color-warning-50: var(--palette-color-yellow-50);
    --brand-color-warning-100: var(--palette-color-yellow-100);
    --brand-color-warning-200: var(--palette-color-yellow-200);
    --brand-color-warning-300: var(--palette-color-yellow-300);
    --brand-color-warning-400: var(--palette-color-yellow-400);
    --brand-color-warning-500: var(--palette-color-yellow-500);
    --brand-color-warning-600: var(--palette-color-yellow-600);
    --brand-color-warning-700: var(--palette-color-yellow-700);
    --brand-color-warning-800: var(--palette-color-yellow-800);
    --brand-color-warning-900: var(--palette-color-yellow-900);
    --brand-color-warning-950: var(--palette-color-yellow-950);
    --brand-color-success-25: var(--palette-color-green-25);
    --brand-color-success-50: var(--palette-color-green-50);
    --brand-color-success-100: var(--palette-color-green-100);
    --brand-color-success-200: var(--palette-color-green-200);
    --brand-color-success-300: var(--palette-color-green-300);
    --brand-color-success-400: var(--palette-color-green-400);
    --brand-color-success-500: var(--palette-color-green-500);
    --brand-color-success-600: var(--palette-color-green-600);
    --brand-color-success-700: var(--palette-color-green-700);
    --brand-color-success-800: var(--palette-color-green-800);
    --brand-color-success-900: var(--palette-color-green-900);
    --brand-color-success-950: var(--palette-color-green-950);
    --brand-color-accent-25: var(--palette-color-fuchsia-25);
    --brand-color-accent-50: var(--palette-color-fuchsia-50);
    --brand-color-accent-100: var(--palette-color-fuchsia-100);
    --brand-color-accent-200: var(--palette-color-fuchsia-200);
    --brand-color-accent-300: var(--palette-color-fuchsia-300);
    --brand-color-accent-400: var(--palette-color-fuchsia-400);
    --brand-color-accent-500: var(--palette-color-fuchsia-500);
    --brand-color-accent-600: var(--palette-color-fuchsia-600);
    --brand-color-accent-700: var(--palette-color-fuchsia-700);
    --brand-color-accent-800: var(--palette-color-fuchsia-800);
    --brand-color-accent-900: var(--palette-color-fuchsia-900);
    --brand-color-accent-950: var(--palette-color-fuchsia-950);
    --brand-color-info-25: var(--palette-color-blue-25);
    --brand-color-info-50: var(--palette-color-blue-50);
    --brand-color-info-100: var(--palette-color-blue-100);
    --brand-color-info-200: var(--palette-color-blue-200);
    --brand-color-info-300: var(--palette-color-blue-300);
    --brand-color-info-400: var(--palette-color-blue-400);
    --brand-color-info-500: var(--palette-color-blue-500);
    --brand-color-info-600: var(--palette-color-blue-600);
    --brand-color-info-700: var(--palette-color-blue-700);
    --brand-color-info-800: var(--palette-color-blue-800);
    --brand-color-info-900: var(--palette-color-blue-900);
    --brand-color-info-950: var(--palette-color-blue-950);
    --brand-font-family-display: Montserrat;
    --brand-font-family-body: Inter;
    --brand-font-family-ui: Inter;
    --brand-font-weight-light: var(--core-font-weight-300);
    --brand-font-weight-regular: var(--core-font-weight-400);
    --brand-font-weight-medium: var(--core-font-weight-500);
    --brand-font-weight-semibold: var(--core-font-weight-600);
    --brand-font-weight-bold: var(--core-font-weight-700);
    --brand-font-size-display-xs: var(--core-font-size-lg);
    --brand-font-size-display-sm: var(--core-font-size-xl);
    --brand-font-size-display-md: var(--core-font-size-3xl);
    --brand-font-size-display-lg: var(--core-font-size-5xl);
    --brand-font-size-display-xl: var(--core-font-size-6xl);
    --brand-font-size-display-2xl: var(--core-font-size-8xl);
    --brand-font-size-body-xs: var(--core-font-size-xs);
    --brand-font-size-body-sm: var(--core-font-size-sm);
    --brand-font-size-body-md: var(--core-font-size-md);
    --brand-font-size-body-lg: var(--core-font-size-lg);
    --brand-font-size-body-xl: var(--core-font-size-xl);
    --brand-font-size-body-2xl: var(--core-font-size-2xl);
    --brand-font-size-ui-xs: var(--core-font-size-xs);
    --brand-font-size-ui-sm: var(--core-font-size-sm);
    --brand-font-size-ui-md: var(--core-font-size-md);
    --brand-font-size-ui-lg: var(--core-font-size-lg);
    --brand-font-size-ui-xl: var(--core-font-size-xl);
    --brand-font-size-ui-2xl: var(--core-font-size-2xl);
    --brand-font-line-display-xs: var(--core-font-line-2xl);
    --brand-font-line-display-sm: var(--core-font-line-3xl);
    --brand-font-line-display-md: var(--core-font-line-4xl);
    --brand-font-line-display-lg: var(--core-font-line-6xl);
    --brand-font-line-display-xl: var(--core-font-line-7xl);
    --brand-font-line-display-2xl: var(--core-font-line-9xl);
    --brand-font-line-body-xs: var(--core-font-line-md);
    --brand-font-line-body-sm: var(--core-font-line-lg);
    --brand-font-line-body-md: var(--core-font-line-xl);
    --brand-font-line-body-lg: var(--core-font-line-2xl);
    --brand-font-line-body-xl: var(--core-font-line-3xl);
    --brand-font-line-body-2xl: var(--core-font-line-4xl);
    --brand-font-line-ui-xs: var(--core-font-line-xs);
    --brand-font-line-ui-sm: var(--core-font-line-sm);
    --brand-font-line-ui-md: var(--core-font-line-md);
    --brand-font-line-ui-lg: var(--core-font-line-lg);
    --brand-font-line-ui-xl: var(--core-font-line-xl);
    --brand-font-line-ui-2xl: var(--core-font-line-2xl);
    --brand-font-tracking-display-xs: var(--core-font-tracking-0);
    --brand-font-tracking-display-sm: var(--core-font-tracking-0);
    --brand-font-tracking-display-md: var(--core-font-tracking-0);
    --brand-font-tracking-display-lg: var(--core-font-tracking-negative-1);
    --brand-font-tracking-display-xl: var(--core-font-tracking-negative-2);
    --brand-font-tracking-display-2xl: var(--core-font-tracking-negative-3);
    --brand-font-tracking-body-xs: var(--core-font-tracking-positive-2);
    --brand-font-tracking-body-sm: var(--core-font-tracking-positive-2);
    --brand-font-tracking-body-md: var(--core-font-tracking-positive-2);
    --brand-font-tracking-body-lg: var(--core-font-tracking-positive-1);
    --brand-font-tracking-body-xl: var(--core-font-tracking-0);
    --brand-font-tracking-body-2xl: var(--core-font-tracking-0);
    --brand-font-tracking-ui-xs: var(--core-font-tracking-positive-2);
    --brand-font-tracking-ui-sm: var(--core-font-tracking-positive-2);
    --brand-font-tracking-ui-md: var(--core-font-tracking-positive-2);
    --brand-font-tracking-ui-lg: var(--core-font-tracking-positive-1);
    --brand-font-tracking-ui-xl: var(--core-font-tracking-0);
    --brand-font-tracking-ui-2xl: var(--core-font-tracking-0);
    --brand-space-none: var(--core-space-0);
    --brand-space-xs: var(--core-space-2);
    --brand-space-sm: var(--core-space-4);
    --brand-space-md: var(--core-space-6);
    --brand-space-lg: var(--core-space-8);
    --brand-space-xl: var(--core-space-10);
    --brand-space-2xl: var(--core-space-12);
    --brand-space-3xl: var(--core-space-14);
    --brand-space-4xl: var(--core-space-16);
    --brand-space-5xl: var(--core-space-18);
    --brand-space-6xl: var(--core-space-20);
    --brand-space-7xl: var(--core-space-22);
    --brand-space-fine-3xs: var(--core-space-1);
    --brand-space-fine-2xs: var(--core-space-2);
    --brand-space-fine-xs: var(--core-space-3);
    --brand-space-fine-sm: var(--core-space-4);
    --brand-space-fine-md: var(--core-space-5);
    --brand-space-fine-lg: var(--core-space-6);
    --brand-space-fine-xl: var(--core-space-7);
    --brand-space-fine-2xl: var(--core-space-8);
    --brand-radius-none: var(--core-radius-0);
    --brand-radius-ui: var(--core-radius-2);
    --brand-radius-card: var(--core-radius-4);
    --brand-radius-modal: var(--core-radius-6);
    --brand-radius-pill: var(--core-radius-full);
    --brand-borderwidth-none: var(--core-borderWidth-0);
    --brand-borderwidth-hairline: var(--core-borderWidth-1);
    --brand-borderwidth-default: var(--core-borderWidth-1);
    --brand-borderwidth-strong: var(--core-borderWidth-2);
    --brand-elevation-surface: var(--core-shadow-sm);
    --brand-elevation-overlay: var(--core-shadow-md);
    --brand-elevation-modal: var(--core-shadow-lg);
    --brand-elevation-focusring: var(--core-shadow-ring-1);
}