@import "01-palette.css";
@import "02-brand.css";

:root {
    --theme-color-bg-canvas: var(--brand-color-neutral-100);
    --theme-color-bg-surface: var(--brand-color-neutral-50);
    --theme-color-bg-sunken: var(--brand-color-neutral-200);
    --theme-color-bg-raised: var(--brand-color-neutral-25);
    --theme-color-bg-overlayscrim: rgba(0,0,0,0-5);
    --theme-color-bg-disabled: var(--brand-color-neutral-200);
    --theme-color-bg-neutral-bold-default: var(--brand-color-neutral-900);
    --theme-color-bg-neutral-bold-hover: var(--brand-color-neutral-700);
    --theme-color-bg-neutral-bold-pressed: var(--brand-color-neutral-600);
    --theme-color-bg-neutral-bold-selected: var(--brand-color-neutral-700);
    --theme-color-bg-neutral-subtle-default: var(--brand-color-neutral-100);
    --theme-color-bg-neutral-subtle-hover: var(--brand-color-neutral-200);
    --theme-color-bg-neutral-subtle-pressed: var(--brand-color-neutral-300);
    --theme-color-bg-neutral-subtle-selected: var(--brand-color-neutral-200);
    --theme-color-bg-inverse: var(--brand-color-neutral-900);
    --theme-color-bg-primary-bold-default: var(--brand-color-primary-500);
    --theme-color-bg-primary-bold-hover: var(--brand-color-primary-600);
    --theme-color-bg-primary-bold-pressed: var(--brand-color-primary-700);
    --theme-color-bg-primary-bold-selected: var(--brand-color-primary-600);
    --theme-color-bg-primary-subtle-default: var(--brand-color-primary-100);
    --theme-color-bg-primary-subtle-hover: var(--brand-color-primary-200);
    --theme-color-bg-primary-subtle-pressed: var(--brand-color-primary-300);
    --theme-color-bg-primary-subtle-selected: var(--brand-color-primary-200);
    --theme-color-bg-accent-bold-default: var(--brand-color-accent-500);
    --theme-color-bg-accent-bold-hover: var(--brand-color-accent-600);
    --theme-color-bg-accent-bold-pressed: var(--brand-color-accent-700);
    --theme-color-bg-accent-bold-selected: var(--brand-color-accent-600);
    --theme-color-bg-accent-subtle-default: var(--brand-color-accent-100);
    --theme-color-bg-accent-subtle-hover: var(--brand-color-accent-200);
    --theme-color-bg-accent-subtle-pressed: var(--brand-color-accent-300);
    --theme-color-bg-accent-subtle-selected: var(--brand-color-accent-200);
    --theme-color-bg-error-bold-default: var(--brand-color-error-500);
    --theme-color-bg-error-bold-hover: var(--brand-color-error-600);
    --theme-color-bg-error-bold-pressed: var(--brand-color-error-700);
    --theme-color-bg-error-bold-selected: var(--brand-color-error-600);
    --theme-color-bg-error-subtle-default: var(--brand-color-error-100);
    --theme-color-bg-error-subtle-hover: var(--brand-color-error-200);
    --theme-color-bg-error-subtle-pressed: var(--brand-color-error-300);
    --theme-color-bg-error-subtle-selected: var(--brand-color-error-200);
    --theme-color-bg-success-bold-default: var(--brand-color-success-500);
    --theme-color-bg-success-bold-hover: var(--brand-color-success-600);
    --theme-color-bg-success-bold-pressed: var(--brand-color-success-700);
    --theme-color-bg-success-bold-selected: var(--brand-color-success-600);
    --theme-color-bg-success-subtle-default: var(--brand-color-success-100);
    --theme-color-bg-success-subtle-hover: var(--brand-color-success-200);
    --theme-color-bg-success-subtle-pressed: var(--brand-color-success-300);
    --theme-color-bg-success-subtle-selected: var(--brand-color-success-200);
    --theme-color-bg-warning-bold-default: var(--brand-color-warning-500);
    --theme-color-bg-warning-bold-hover: var(--brand-color-warning-600);
    --theme-color-bg-warning-bold-pressed: var(--brand-color-warning-700);
    --theme-color-bg-warning-bold-selected: var(--brand-color-warning-600);
    --theme-color-bg-warning-subtle-default: var(--brand-color-warning-100);
    --theme-color-bg-warning-subtle-hover: var(--brand-color-warning-200);
    --theme-color-bg-warning-subtle-pressed: var(--brand-color-warning-300);
    --theme-color-bg-warning-subtle-selected: var(--brand-color-warning-200);
    --theme-color-bg-info-bold-default: var(--brand-color-info-500);
    --theme-color-bg-info-bold-hover: var(--brand-color-info-600);
    --theme-color-bg-info-bold-pressed: var(--brand-color-info-700);
    --theme-color-bg-info-bold-selected: var(--brand-color-info-600);
    --theme-color-bg-info-subtle-default: var(--brand-color-info-100);
    --theme-color-bg-info-subtle-hover: var(--brand-color-info-200);
    --theme-color-bg-info-subtle-pressed: var(--brand-color-info-300);
    --theme-color-bg-info-subtle-selected: var(--brand-color-info-200);
    --theme-color-fg-disabled: var(--brand-color-neutral-400);
    --theme-color-fg-on-primary: var(--brand-color-neutral-25);
    --theme-color-fg-on-accent: var(--brand-color-neutral-25);
    --theme-color-fg-on-neutral: var(--brand-color-neutral-25);
    --theme-color-fg-on-error: var(--brand-color-neutral-25);
    --theme-color-fg-on-warning: var(--brand-color-neutral-900);
    --theme-color-fg-on-success: var(--brand-color-neutral-25);
    --theme-color-fg-on-info: var(--brand-color-neutral-25);
    --theme-color-fg-on-inverse: var(--brand-color-neutral-25);
    --theme-color-fg-primary: var(--brand-color-primary-700);
    --theme-color-fg-accent: var(--brand-color-accent-700);
    --theme-color-fg-muted: var(--brand-color-neutral-500);
    --theme-color-fg-neutral-subtle: var(--brand-color-neutral-600);
    --theme-color-fg-neutral-default: var(--brand-color-neutral-700);
    --theme-color-fg-neutral-strong: var(--brand-color-neutral-800);
    --theme-color-fg-inverse: var(--brand-color-neutral-25);
    --theme-color-border-neutral-subtle: var(--brand-color-neutral-200);
    --theme-color-border-neutral-main: var(--brand-color-neutral-300);
    --theme-color-border-neutral-bold: var(--brand-color-neutral-900);
    --theme-color-border-divider: var(--brand-color-neutral-300);
    --theme-color-border-primary-subtle: var(--brand-color-primary-300);
    --theme-color-border-primary-main: var(--brand-color-primary-500);
    --theme-color-border-primary-bold: var(--brand-color-primary-700);
    --theme-color-border-accent-subtle: var(--brand-color-accent-300);
    --theme-color-border-accent-main: var(--brand-color-accent-500);
    --theme-color-border-accent-bold: var(--brand-color-accent-700);
    --theme-color-border-error-subtle: var(--brand-color-error-300);
    --theme-color-border-error-main: var(--brand-color-error-500);
    --theme-color-border-error-bold: var(--brand-color-error-700);
    --theme-color-border-warning-subtle: var(--brand-color-warning-300);
    --theme-color-border-warning-main: var(--brand-color-warning-500);
    --theme-color-border-warning-bold: var(--brand-color-warning-700);
    --theme-color-border-success-subtle: var(--brand-color-success-300);
    --theme-color-border-success-main: var(--brand-color-success-500);
    --theme-color-border-success-bold: var(--brand-color-success-700);
    --theme-color-border-info-subtle: var(--brand-color-info-300);
    --theme-color-border-info-main: var(--brand-color-info-500);
    --theme-color-border-info-bold: var(--brand-color-info-700);
    --theme-color-link-default: var(--brand-color-primary-500);
    --theme-color-link-hover: var(--brand-color-primary-600);
    --theme-color-link-pressed: var(--brand-color-primary-700);
    --theme-color-link-visited: var(--brand-color-accent-500);
    --theme-color-link-inverse: var(--brand-color-primary-300);
}