@import "./design-system/01-core.css";
@import "./design-system/01-palette.css";
@import "./design-system/02-brand.css";
@import "./design-system/03-light.css";
@import "./design-system/03-dark.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navHeight: var(--core-font-size-4xl);
}

body {
    font-family: Inter;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--core-font-size-2xl);
    padding-inline: var(--core-font-size-4xl);

    background: var(--color-bg);
    color: var(--color-text);
    transition: background .25s ease, color .25s ease;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* superfícies */
    --color-bg: #ffffff;
    --color-surface: #f8f9fa;
  
    /* texto */
    --color-text: #111111;
    --color-text-muted: #495057;
  
    /* exemplos para suas boxes */
    --box-red: #ff6b6b;
    --box-blue: #4dabf7;
    --box-green: #51cf66;
}

.dark {
    --color-bg: #0f172a;
    --color-surface: #111827;
  
    --color-text: #e5e7eb;
    --color-text-muted: #9ca3af;
  
    --box-red: #c92a2a;
    --box-blue: #1864ab;
    --box-green: #2b8a3e;
}