@import "./design-system/01-core.css";
@import "./design-system/01-palette.css";
@import "./design-system/02-brand.css";
@import "./design-system/theme/03-light.css";
@import "./design-system/semantic/04-semantic-color.css";
@import "./design-system/semantic/04-semantic-size-desktop.css";
@import "./design-system/semantic/04-semantic-type-desktop.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navHeight: var(--core-font-size-6xl);
}

body {
    font-family: Inter;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--core-grid-gutter-desktop);
    padding-inline: var(--core-grid-margin-desktop); 
    background-color: var(--semantic-color-bg-page);
}

html {
    scroll-behavior: smooth;
}