.sectionWrapper {
    display: flex;
    gap: 80px;
    margin-top: var(--navHeight);
}

.bordWrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    border-radius: 14px;
    border: 4px solid var(--semantic-color-bd-ui-action-primary-default);
    background: var(--semantic-color-bg-primary-default);
}

.titleWrapper {
    display: flex;
    padding: var(--semantic-size-gap-xl);
    justify-content: center;
    align-items: center;
    border: 4px solid var(--semantic-color-bd-ui-action-primary-default);
    background: var(--semantic-color-bg-primary-default);
}

.titlesWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: var(--semantic-color-bg-page);
}

.title {
    font: var(--semantic-type-display-xl);
    color: var(--semantic-color-fg-on-primary);
}

.title1 {
    font: var(--semantic-type-display-2xl);
}

.title2 {
    font: var(--semantic-type-display-xl);
}

.title3 {
    font: var(--semantic-type-display-lg);
}

.title4 {
    font: var(--semantic-type-display-md);
}

.title5 {
    font: var(--semantic-type-display-sm);
}

.title6 {
    font: var(--semantic-type-display-xs);
}

.body1 {
    font: var(--semantic-type-body-2xl);
}

.body2 {
    font: var(--semantic-type-body-xl);
}

.body3 {
    font: var(--semantic-type-body-lg);
}

.body4 {
    font: var(--semantic-type-body-md);
}

.body5 {
    font: var(--semantic-type-body-sm);
}

.body6 {
    font: var(--semantic-type-body-xs);
}

.ui1 {
    font: var(--semantic-type-ui-2xl);
}

.ui2 {
    font: var(--semantic-type-ui-xl);
}

.ui3 {
    font: var(--semantic-type-ui-lg);
}

.ui4 {
    font: var(--semantic-type-ui-md);
}

.ui5 {
    font: var(--semantic-type-ui-sm);
}

.ui6 {
    font: var(--semantic-type-ui-xs);
}