.wrapper {
    display: flex;
    gap: 40px;
}

.asideWrapper {
    min-width: 220px;
    height: 100vh;
    padding-top: 50px;
    border-right: 1px solid black;
}

.listWrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 12px;
}

.listItem {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
}

.listItem a {
    display: flex;
    text-align: center;
    align-items: center;    
    min-width: 48px;
    height: 48px;
    text-decoration: none;
}