---
import Styles from "../../../styles/components-page/buttons/buttons.module.css";
import { Button } from "../../../components/button/button";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="description" content="Fast, modern websites built for performance, SEO, and an exceptional user experience.">
		<meta name="generator" content={Astro.generator} />
		<title>Fast & Modern Websites</title>
	<body>
		<section class={ Styles.wrapper }>
			<Button rightIcon="arrowRight" leftIcon="arrowLeft">
				Aperte
			</Button>
			<Button>Aperte</Button>
			<Button leftIcon="information" />
		</section>
	</body>
</html>
