---
import "../styles/global.css";
import { Button } from "../componentes/button/button";
---

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Componentes</title>
  </head>
  <body>
    <h1>Componentes</h1>
    <p>Aqui ficarão os componentes reutilizáveis.</p>
    <Button label="Voltar para Home" />
  </body>
</html>