---
import "../styles/global.css";
import Styles from "../styles/index/index-page.module.css";
const nome = "Afonso";
import ThemeButtons from "../componentes/themeButtons/themeButtons.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Fast, modern websites built for performance, SEO, and an exceptional user experience.">
		<meta name="generator" content={Astro.generator} />
		<title>Fast & Modern Websites</title>
		<script is:inline>
			const saved = localStorage.getItem("theme");
		
			if (saved === "dark") {
			  document.documentElement.classList.add("dark");
			} else if (!saved) {
			  const systemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
			  if (systemDark) document.documentElement.classList.add("dark");
			}
		</script>
	</head>
	<body>
		<section class={ Styles.hero }>
			<h1>Título Maneiro para um caralho</h1>
			<h2>Olá {nome}</h2>
			<ThemeButtons />
			<div class="box red"></div>
			<div class="box blue"></div>
			<div class="box green"></div>
		</section>
	</body>
</html>
